html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}






body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 1em 14em;
}

.headerlinks {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.headerlinks a {
    color: #e5e7ebe3;
    text-decoration: none;
    transition: all 0.25s;
}

.headerlinks a:hover {
    transform: translateY(-0.15em);
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3em;
}

h1 {
    font-weight: 900;
    font-size: 36px;
    color: #F9FAF8;
    margin-right: 1em;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px;
    padding: 0 14em;
}


.content1 p {
    color: #e5e7ebcb;
    font-size: 18px;
    margin: 1em 2em 1em 0;
    line-height: 1.5em;
}

.btn1 {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 0.5em 2em;
    border: none;
    font-weight: 700;
}

.btn1:hover {
    background-color: #5b90e7;
}

.contright {
    display: flex;
}

.contright img {
    object-fit: cover;
    height: 250px;
    width: 27em;
}

.content2 {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    background-color: white;
}
h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin: 1.5em;
}

.cardcontainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin-bottom: 5em;
    padding-bottom: 2em;
    transition: all 0.25s;
}

.card:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cardimg {
    object-fit: cover;
    height: 10em;
    width: 10em;
    margin: 1em;
    border: #3881f6 solid 0.3em;
    border-radius: 0.5em;
}

.cardtext {
    text-align: center;
    padding: 0 2em;
}